  .caption h1 {
      position: absolute;
      top: 60%;
      right: 15%;
      color: white;
  }
  
  .caption h5 {
      position: absolute;
      top: 70%;
      right: 20%;
      color: white;
  }
  
  .caption button {
      position: absolute;
      top: 80%;
      right: 22%;
      color: white;
      background-color: black;
      border: 2px white solid;
      padding: 1% 2%;
  }
  
  .background {
      background-image: Url("../images/istockphoto-1124629093-170667a.jpg");
      background-color: blue;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .content {
      position: relative;
  }